---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/ModernHero.astro';
import ExperienceBlock from '../components/ExperienceBlock.astro';
import AboutMe from '../components/AboutMe.astro';
import SkillsBlock from '../components/SkillsBlock.astro';
import ProjectsGrid from '../components/ProjectsGrid.astro';
import ContactBlock from '../components/ContactBlock.astro';
import SectionIndicator from '../components/SectionIndicator.astro';

---
<Layout>
	<main>
		<SectionIndicator></SectionIndicator>
		<Hero />		
		<!-- <ProjectsGrid /> -->
		<ExperienceBlock />
		
		<SkillsBlock />
		<AboutMe />
		<ContactBlock />
	</main>
</Layout>
